body {
  font-family: "Fira Sans", Helvetica, "Helvetica Neue", sans-serif;
  font-weight: 100;;
  font-size: 14px;
  color: $black;
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: 360px;
}

.vtc-container {
  height: 100vh;
  display: flex;
  align-items: center;
}